<!DOCTYPE html>
<html>
  <head>
    <title>Kicker</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Sorts+Mill+Goudy&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= image_tag 'adidas.jpeg' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

